@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

/* General styling */


body, html {
  height: 100%;
  font-family: 'Comfortaa', 'Montserrat';
  scroll-behavior: smooth;
}

.main-colors {
    background-color: #2B303A;
    color: #9EBC9E;
}

.greenblock {
    background-color: #9EBC9E;
    padding: 5rem;
}

.header-spacing {
    letter-spacing: 0.6rem;
}

/* Background image classes */
.bg-image-size {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-height {
    height: 40%;
}

.opacity {
    opacity: 0.9;
    background-color: #12100E;
    color: #9EBC9E;
}
/* Less opacity for the landing page */
.opacity-light {
    opacity: 0.8;
    background-color: #12100E;
    color: #9EBC9E;
}

.three-pitches {
  background-image: url("../images/5-a-side-pitches.jpg");
}

.bicycle-kick {
  background-image: url("../images/mid-air-bicycle-kick.jpg");
}

.single-pitch {
  background-image: url("../images/single-5-aside-pitch.jpg");
}

.inside-pitch {
  background-image: url("../images/inside-5-aside-pitch.jpg");
}

/* Styling for the nav bar */

/* This is to keep the social links horizontal. */
.navbar-nav-social {
    flex-direction: row;
}

/* This styles the hamburger icon */
.navbar-light .navbar-toggler {
    border: 0;
    color: #9EBC9E;
    font-size: 1.8rem;
}

/* This grabs the menu links */
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1rem;
    color: #9EBC9E;
    text-align: center;
    padding-left: 0.5rem;
}

.social-link-size {
    font-size: 1.2rem;
}

.nav-color {
    background-color: #2B303A;
}

/* Styling for Landing page / Home */

.mambo-pro-format {
    line-height: 6rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
}

.custom-btn {
    background-color: #9EBC9E;
    color: #12100E;
    letter-spacing: 0.1rem;
}

/* This keeps the transparent strip centred on the landing page */
#viewheight {
    height: 30vh;
}

/* Styling for "Ever wanted to hit rewind and relive those glorious moments?" */

.glorious-format {
    letter-spacing: 0.4rem;
    line-height: 3.5rem;
}


/* Styling for video section */

/* This overwrites a bootstrap class */
.btn-lg {
    opacity: 0.9;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    background-color: #9EBC9E;
    color: #12100E;
}

/* Styling for "Get your 5-a-side squad filmed..." */

.show-off-format {
    letter-spacing: 0.4rem;
    line-height: 2.5rem;
}


/* Styling for What we do section */

.wwd-format {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
}

.wwd-icon-size {
    font-size: 4rem;
}

/* Price packages section */

/* This adjusts size of ticks and crosses and some breathing space between lines*/
.price-icon-size {
    font-size: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.badge {
    font-size: 2rem;
    color: #12100E;
    font-family: 'Montserrat';
    background-color:#9EBC9E;
}

.green-tick {
    color: #26AF00;
}

.red-cross {
    color: #FF0000;
}

.card-bg-color {
    background-color: #12100E;
}

.price-lists-format {
    line-height: 2.7rem;
    letter-spacing: 0.2rem;
    list-style-type: none;
}

/* Styling for Contact section */

.contact-spacing {
    letter-spacing: 0.3rem;
}

.contact-btn-color {
    background-color: #9EBC9E;
    color: #12100E;
    letter-spacing: 0.2rem;
}

/* To improve aesthetics this keeps lists vertically aligned on smaller screens. */
@media (max-width: 706px) {
.price-lists-format {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    }
    
}

/* This reduces the height of the top background image on smaller devices */
@media (max-width: 506px) {
#viewheight {
    height:15vh;
    }
    
}

/* This removes the top background image altogether on the smallest devices */
@media (max-width: 350px) {
#viewheight {
    height:0vh;
    }
    
}