@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

body {
    font-family: 'Comfortaa';
}


/* Parallax */
body, html {
  height: 100%;
}

.parallax {
  background-image: url("../images/mambo-3-pitches.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("../images/mambo-pitch2.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("../images/mambo-pitch3.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url("../images/mambo-pitch4.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url("../images/mambo-pitch5.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax-bottom {
  background-image: url("../images/mambo-bottom.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Removes list bullet points from basic and pro. */
ul li {
    list-style-type: none;
}


/* Styling for the nav bar */
/* This is to keep the social links horizontal. */
.navbar-nav-social {
    flex-direction: row;
}

@media (min-width: 1px) {
.navbar-expand-sm  .navbar-nav .nav-link {
    padding-left: 1rem;}
    
}

/* This centres nav menu options when collapsed. */
.nav-link {
    text-align: center;
}

/* Landing page / Home */

.mambo-pro-trans {
    background-image: url("../images/mambo-3-pitches.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mambo-trans-row {
    background-color: #12100E;
    opacity: 0.8;
    color: #9EBC9E;
}

.mambo-pro {
    padding-top: 8rem;
    padding-bottom: 7rem;
    line-height: 6rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
}

.glorious {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    line-height: 3.5rem;
}

/* This makes the font-size more appropriate on smaller screens. */
@media (min-width: 576px) {
.glorious {
    font-size: 3rem;
    line-height: 5rem;
    }
    
}


/* Video styling */

.video {
    padding-bottom: 2rem;
    padding-top: 0.9rem;
}

.video-header {
    padding-top: 1.5rem;
    letter-spacing: 0.3rem;
}

@media (min-width: 576px) {
.video-header {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    }
    
}

.show-off {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    letter-spacing: 0.4rem;
    line-height: 2.5rem;
}


/* What we do section */

.wwd-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    letter-spacing: 0.4rem;
}

.wwd-para {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 2rem;
}

div i {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}


/* Price packages section */

div ul li i {
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.price-header {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    letter-spacing: 0.6rem;
}

.sub-head {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    letter-spacing: 0.4rem;
}

.price-lists {
    line-height: 2rem;
    letter-spacing: 0.2rem;
}

/* To improve aesthetics this vertically aligns lists on small screens. */
@media (max-width: 425px) {
.price-lists {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: left;
    }
    
}

/* Contact section */

.contact-trans {
    background-image: url("../images/mambo-bottom.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-trans-row {
    background-color: #12100E;
    opacity: 0.8;
    color: #9EBC9E;
}

.contact-header {
    letter-spacing: 0.6rem;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.contact-sub-head {
    padding-bottom: 0.4rem;
    letter-spacing: 0.2rem;
}

.details {
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
}

.form-info {
    letter-spacing: 0.1rem;
    padding-top: 1rem;
}

.never {
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
}


/* This is a temporary workaround to make the form input sections shorter  */
.less-width {
    padding-left: 20rem;
    padding-right: 20rem;
}

@media (max-width: 768px) {
.less-width {
    padding-left: 12rem;
    padding-right: 12rem;
    }
    
}

@media (max-width: 425px) {
.less-width {
    padding-left: 2rem;
    padding-right: 2rem;
    }
    
}