@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');
body {
    font-family: 'Comfortaa';
}

/* Parallax */
body, html {
  height: 100%;
}

.parallax {
  background-image: url("../images/mambo-3-pitches.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Removes list bullet points from basic and pro */

ul li {
    list-style-type: none;
}


/* Styling for the nav bar */
/* This is to keep the social links horizontal */

.navbar-nav-social {
    flex-direction: row;
}

@media (min-width: 1px) {
.navbar-expand-sm  .navbar-nav .nav-link {
    padding-left: 1rem;}
    
}

.nav-link {
    text-align: center;
    font-family: 'Comfortaa';
}